.lobby_metal{
    background-color: $steel_grey;
    color:white;
    border-radius:5px;
}
.lobby_espace{
    //background-color: $dirty_metal;
    border-radius:5px;
    
}
.hopital{
    background-color: lightgray;
}
.maison{
    background-color: lightgray;
}
.banque{
    background-color: lightgray;
}